<c1-9>
<% @lists.each do |list| %>
  <p><%= link_to list.name, list_path(list) %></p>
<% end %>
</c1-9>
<div>
  <!-- app/views/articles/index.html.erb -->
  <%= cl_image_tag("zr3wyc8bzn3dd0bmwo1n",
        width: 400, height: 300, crop: :fill) %>
</div>
