<marquee>
<% @lists.each do |list| %>
  <p><%= link_to list.name, list_path(list) %></p>
<% end %>
</marquee>
<div>
  <!-- app/views/articles/index.html.erb -->
  <%= cl_image_tag("zr3wyc8bzn3dd0bmwo1n",
        width: 400, height: 300, crop: :fill) %>

  <!-- for face detection -->
  <%= cl_image_tag("beach-boat",
        width: 150, height: 150, crop: :thumb, gravity: :face) %>
</div>

